﻿@model EFGetStarted.AspNetCore.NewDb.Models.Model

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj</h1>
<body>Podaj liczbe z przedzialu 1-100</body>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">          
                <input asp-for="Liczba" class="form-control" />
                <span asp-validation-for="Liczba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Odpowiedz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Powrót</a>
</div>


