﻿@model EFGetStarted.AspNetCore.NewDb.Models.Model

@{
    ViewData["Title"] = "Delete";
}

<h1>Usun</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Liczba)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Liczba)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Odpowiedz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odpowiedz)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IP)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Usun" class="btn btn-danger" /> |
        <a asp-action="Index">Powrot</a>
    </form>
</div>
