﻿@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Model>

@{
    ViewData["Title"] = "Index";
}

<h1>FizzBuzz</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Liczba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odpowiedz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Liczba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odpowiedz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">Usun</a>
            </td>
        </tr>
        }
    </tbody>
</table>
